:root {
  /* primary colors */
  --primary-color: #262453;
  --primary-5-color: #f4f3f6;
  --primary-10-color: #e9e8ed;
  --primary-20-color: #d3d3dc;
  --primary-40-color: #a8a7ba;
  --primary-70-color: #666586;
  --primary-80-color: #514f75;

  /* grey colors */
  --grey-lighter-color: #f6f6f6;
  --grey-light-color: #c7c7c7;
  --grey-color: #a4a4a4;
  --grey-dark-color: #5f5f5f;
  --grey-darker-color: #434343;

  /* other colors */
  --link-color: #43a796;
  --info-color: #4e85a8;
  --warning-color: #f5cc5b;
  --seccuss-color: #3a9283;
  --danger-color: #ce3d3d;
  --white-color: #fff;
  --body-font: 'Open Sans, sans-serif';
}
