:root {
  /* other colors */
  --link-color: #43a796;
  --info-color: #4e85a8;

  /* not added to design system */
  --input-focus-box-shadow-size: 0 0 0 0.125em;
  --input-focus-box-shadow-color: rgba(67, 167, 150, 0.25);
}
